/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
      /* top | right | bottom | left */
    padding: 0 0 0 0;
  }
  footer{
    font-size: .8em;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.4em;
      /* top | right | bottom | left */
    padding: 0 0 0 0;
  }
  footer{
    font-size: .8em;
  }
}
