/* blue: #66d9ef  rgb(102, 217, 239)
green: #45c468  rgb(69, 196, 104)
pink: #ff79c6  	rgb(255, 121, 198)
purple:  #bd93f9  	rgb(189, 147, 249)
bg: #282a36  	rgb(40, 42, 54) */

body {
  background-color: black;
  /* background-image: url('../images/sketch-still.gif');
  background-repeat: repeat;
  background-attachment: fixed; */
}

h1 {
  font-size: 8em;
  font-weight: bolder;
  color: white;
  padding: 0;
  margin-left: -10px;
}

h2 {
  color: #999999;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 1em;
  /* top | right | bottom | left */
  padding: 20px 0 0 0;
}

h3 {
  color: #ff79c6;
  font-size: 1.1em;
  letter-spacing: .9em;
  padding-top: 20px;
}

.glitch {
  padding: 30px 30px 30px 0;
}

.container {
  background-color: black;
}

.artist-pic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* top | right | bottom | left */
  margin: 20px 0 20px 0;
}

form {
  font-size: .95em;
  padding-top: 25px;
  color: #999999;
}

.form-control {
  background-color: #282a36;
  border: 0;
}

.form-control::after {
  background-color: #282a36;
  border: 0;
  color: white;
}


#email {
  background-color: #282a36;
  border: 0;
  color: white;
}

.btn {
  background-color: #282a36;
  border: 0;
  color: #999999;;
}

iframe {width: 100%}

.songkick {
  font-family: Arial;
  /* top | right | bottom | left */
  padding-top: 20px;
  margin: 0 0 0 -22px;
  font-size: .95em;
  text-transform: lowercase;
  color: #999999;
}



footer {
  color: #999999;
  font-size: .85em;
  /* top | right | bottom | left */
  padding: 0 0 40px 0;
}

/* unvisited link */
a:link {
    color: #bd93f9;
}

/* visited link */
a:visited {
    color: #bd93f9;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    background-color: #66d9ef;
    color: black;
}

/* selected link */
a:active {
    color: #66d9ef;
    text-decoration: none;
}
