<!DOCTYPE html>
<html>
  <head>
    <title>nmlstyl.com</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="gradient">
    <header>
    </header>
    <br></br>
    <div class="content">
      <%= yield %>
    <div>
  </body>
</html>
