<% require 'sinatra/flash' %>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='css/style.css'>

    <link rel='icon' href='images/favicon.ico' type='image/x-icon'>

    <title>nmlstyl.com</title>
    <meta name="Description" content="nmlstyl is an audio visual project by joey michalina mariano, a philadelphia based electronic musician, coder, and visual artist.">

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111131306-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111131306-2');
    </script>
  </head>

  <body>

    <div class="container">

    <div class="row">
      <!-- ηmlstyl -->
      <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <img class="img-fluid main-logo" src="images/nmlstyl.png">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <img class="img-fluid glitch" src="images/sketch-big.gif">
      </div>
    </div>

    <%= yield %>

    <br />

    <footer>
      photo courtesty of <a href="https://www.newcastrocameraphotography.com">Rich Wexler</a><br />
      <strong>Ⓒ</strong> joey michalina mariano 2018
    </footer>

  </div>  <!-- end container -->


    <script type="text/javascript">
      // character replace n with η
      $(document).ready(function() {
         $('h2, h4, p, #show-wrapper').each(function(idx, el){
           let newText = el.textContent.replace(/n/g, "η")
           el.textContent = newText
         })
      });
    </script>

    <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
