<% require 'sinatra/flash' %>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/respnsive.css'>

    <link rel='icon' href='images/favicon.ico' type='image/x-icon'>

    <title>nmlstyl.com</title>
    <meta name="Description" content="nmlstyl is an audio visual project by joey michalina mariano, a philadelphia based electronic musician, coder, and visual artist.">

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111131306-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111131306-2');
    </script>
  </head>

  <body>

    <div class="container">

    <div class="row">
      <!-- ηmlstyl -->
      <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"><img class="img-fluid main-logo" src="images/nmlstyl.png"></div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"><img class="img-fluid glitch" src="images/sketch-big.gif"></div>
    </div>

    <%= yield %>

    <br />

    <footer>
      photo courtesty of <a href="https://www.newcastrocameraphotography.com">Rich Wexler</a><br />
      <strong>Ⓒ</strong> joey michalina mariano 2018
    </footer>

  </div>  <!-- end container -->



    <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
      
    <script type="text/javascript">
      // character replace n with η
      $(document).ready(function() {
         $('h2, h4, a, p, #show-wrapper').each(function(idx, el){
           let newText = el.textContent.replace(/n/g, "η")
           el.textContent = newText
         })
      });
    </script>
  </body>
</html>
